/* AvenirNext normal*/
@font-face {
	font-family: "AvenirNext";
	src: url("../fonts/AvenirNext-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}
/* AvenirNext medium*/
@font-face {
	font-family: "AvenirNext";
	src: url("../fonts/AvenirNext-Medium.ttf");
	font-weight: 500;
	font-style: normal;
}
/* AvenirNext bold*/
@font-face {
	font-family: "AvenirNext";
	src: url("../fonts/AvenirNext-DemiBold.ttf");
	font-weight: 600;
	font-style: normal;
}
/* AvenirNext light*/
@font-face {
	font-family: "AvenirNext";
	src: url("../fonts/AvenirNext-UltraLight.ttf");
	font-weight: 300;
	font-style: normal;
}